/*#header{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  justify-content: center;
  text-align: center;

}
nav{
  
  height: 100px;
  width: 100%;
  background-color: #f2cccc;
  color: rgb(92, 75, 75);
  position: relative;
}

nav ul{
  margin: 50px 50px;
  padding: 0;
}

nav li{
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 80px;
  text-align: center;
  text-decoration: none;
  padding: 0px 0;  /*top bottom, left right/
  color: #141313;
}
nav li:hover{
  background-color: #444;
  height: 35px;
}
#detail{
  display: table-row;
justify-content: right;
  color: #125688;
}
p{
    text-align: center;
    word-spacing: 0.2rem;
}
body {

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
  background: #dedede;
  background-color: rgb(236, 217, 228);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:black;
}
  
 ul {
    position:absolute;
    margin:20 0;
    padding:0;
    display:flex;
    font-size: 1rem;
  }
  
  ul li {
    list-style: none;
    justify-content: space-between;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  .icons{
    text-align: center;

    justify-content: end;
    width: fit-content;
  }*/
  body{
    text-align: center;
    font-size: larger;
    background: url('hae3.png') no-repeat;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }


  nav{
  
    height: 50px;
    width: 100%;
    color: rgb(160, 90, 90);
    position: relative;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
  }
  
  nav li{
    display: inline;
    float: left;
  }
  
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;  /*top bottom, left right*/
    color: #191414;
  }
  
  nav li:hover{
    background-color: #eec7c7;
  }
  