/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  } 
  #nontrad {
    padding: 0;
    margin: 3%;
    
  }
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
    list-style-type: square;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
  body{
    font-size: large;
    font-weight: 500;
    text-align: justify;
    line-break: strict;
    background-color: bisque;

  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
  }
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
  }
  nav a:hover {
    text-decoration: underline;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ccc4f9;
  }
 .main ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #0d0c0c;
    text-decoration: none;
  }
 img {
  max-height: 600px;
  max-width: 600px;
  justify-content: center;
 }
  
